<meta charset="UTF-8">
<style>
    /* block_main */
._customer_main__wrap {
    max-width: 627px;
    min-height: 261px;
    background: #FF7B03;
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgba(231, 120, 23, 0.3);
    border-radius: 4px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 17px;
    padding: 20px;
}
._customer_main__title {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 18px;
    position: relative;
}
._customer_main__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
._customer_main__list:after {
    content: "";
    background: #ffffff;
    width: 100px;
    height: 2px;
    position: absolute;
    top: -10px;
}
._customer_main__item {
    width: 48%;
    margin-bottom: 18px;
    margin-right: 20px;
}
._customer_main__item:nth-child(even) {
    margin-right: 0;
}
._customer_main__item-ttl {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
}
._customer_main__button {
    width: 159px;
    height: 36px;
    background: #ffffff;
    border-radius: 18px;
}
._customer_main__button a {
    color: #FF7B03;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    display: block;
    font-size: 16px;
}
._customer_main__button a:hover {
     text-decoration: underline;
}
    @media (max-width: 992px) {
        ._customer_main__list {
            display: block;
        }
        ._customer_main__item {
            width: 100%;
            margin-right: 0;
        }
    }
</style>
<!-- block_main -->
<div class="_customer_main__wrap">
    <div class="_customer_main__title">
        Решаем проблемы и задачи клиентов:
    </div>
    <div class="_customer_main__list">
        <div class="_customer_main__item">
            <div class="_customer_main__item-ttl">
                Создание рецептуры
            </div>
            <div class="_customer_main__item-txt">
                Подбираем нужные ингредиенты, консультируем по процессу использования
            </div>
        </div>
        <div class="_customer_main__item">
            <div class="_customer_main__item-ttl">
                Комплексные поставки
            </div>
            <div class="_customer_main__item-txt">
                Комплектуем сырьем весь производственный процесс
            </div>
        </div>
        <div class="_customer_main__item">
            <div class="_customer_main__item-ttl">
                Подбор сырья
            </div>
            <div class="_customer_main__item-txt">
                Подбираем материалы под ваше оборудование
                и задачи
            </div>
        </div>
        <div class="_customer_main__item">
            <div class="_customer_main__item-ttl">
                Уникальное производство
            </div>
            <div class="_customer_main__item-txt">
                Возможно изменение химсостава продукции
                или получение нужных вам свойств
            </div>
        </div>
    </div>
    <div class="_customer_main__button">
        <a href="#">Подробнее</a>
    </div>
</div>