<meta charset="UTF-8">
<style>
/* block_advantages */
._customer_wrap {
    max-width: 636px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    background: #ffffff;
    margin: 0 -8px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
._customer_adv__item {
    width: 196px;
    min-height: 263px;
    border: 2px solid #FF7B03;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 8px 20px;
    padding: 20px 15px 20px 20px;
}
._customer_adv__item-title {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
}
._customer_adv__item-txt {
    font-size: 12px;
    line-height: 17px;
    margin-top: 10px;
}
._customer_adv__item-block {
    display: grid;
    align-content: center;
}
</style>
<!-- block_advantages -->
<div class="_customer_wrap">
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-1.png" width="36" height="48">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Качество продукции</div>
            <span class="_customer_adv__item-txt">Мы предоставляем сертификаты качества и гарантии на все товары</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-2.png" width="54" height="48">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Стабильность поставок</div>
            <span class="_customer_adv__item-txt">Долгое время работаем с одними и теми же партнерами, гарантируем доставку всего объема продукции точно в срок.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-3.png" width="54" height="42">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Профессиональные консультации</div>
            <span class="_customer_adv__item-txt">Отвечаем на ваши вопросы, рассказываем о назначении, характеристиках и химсоставе продукции.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-4.png" width="54" height="42">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Доставка с завода- производителя</div>
            <span class="_customer_adv__item-txt">Осуществляем прямые вагонные поставки с заводов на ваш адрес. Отправляем грузы в любую точку России транспортной компанией по предпочтению заказчика.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-5.png" width="54" height="48">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Индивидуальный подход</div>
            <span class="_customer_adv__item-txt">Работаем со всеми покупателями, обрабатываем розничные и оптовые заказы, принимаем наличный и безналичный расчет.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-6.png" width="54" height="48">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Скидки</div>
            <span class="_customer_adv__item-txt">Снижаем цены на товары при покупке от 1 тонны. Предоставляем дополнительные скидки при заключении договора.</span>
        </div>
    </div>
</div>

<!-- block_advantages -->
<!--
<div class="_customer_wrap" style="max-width:636px;font-family:Arial, sans-serif;font-size:12px;font-weight:normal;color:#000000;background-color:#ffffff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;margin-top:0;margin-bottom:0;margin-right:-8px;margin-left:-8px;box-sizing:border-box;display:flex;flex-wrap:wrap;justify-content:center;">
    <div class="_customer_adv__item" style="width:196px;min-height:263px;border-width:2px;border-style:solid;border-color:#FF7B03;box-sizing:border-box;border-radius:4px;margin-top:0;margin-bottom:20px;margin-right:8px;margin-left:8px;padding-top:20px;padding-bottom:20px;padding-right:15px;padding-left:20px;"><img height="48" src="/system/ckeditor_assets/pictures/129013/content_img-1.png" width="36" />
        <div class="_customer_adv__item-block" style="display:grid;align-content:center;">
            <div class="_customer_adv__item-title" style="font-size:16px;line-height:22px;margin-top:20px;">Качество продукции</div>
            <span class="_customer_adv__item-txt" style="font-size:12px;line-height:17px;margin-top:10px;">Мы предоставляем сертификаты качества и гарантии на все товары</span></div>
    </div>

    <div class="_customer_adv__item" style="width:196px;min-height:263px;border-width:2px;border-style:solid;border-color:#FF7B03;box-sizing:border-box;border-radius:4px;margin-top:0;margin-bottom:20px;margin-right:8px;margin-left:8px;padding-top:20px;padding-bottom:20px;padding-right:15px;padding-left:20px;"><img height="48" src="/system/ckeditor_assets/pictures/129014/content_img-2.png" width="54" />
        <div class="_customer_adv__item-block" style="display:grid;align-content:center;">
            <div class="_customer_adv__item-title" style="font-size:16px;line-height:22px;margin-top:20px;">Стабильность поставок</div>
            <span class="_customer_adv__item-txt" style="font-size:12px;line-height:17px;margin-top:10px;">Долгое время работаем с одними и теми же партнерами, гарантируем доставку всего объема продукции точно в срок.</span></div>
    </div>

    <div class="_customer_adv__item" style="width:196px;min-height:263px;border-width:2px;border-style:solid;border-color:#FF7B03;box-sizing:border-box;border-radius:4px;margin-top:0;margin-bottom:20px;margin-right:8px;margin-left:8px;padding-top:20px;padding-bottom:20px;padding-right:15px;padding-left:20px;"><img height="42" src="/system/ckeditor_assets/pictures/129015/content_img-3.png" width="54" />
        <div class="_customer_adv__item-block" style="display:grid;align-content:center;">
            <div class="_customer_adv__item-title" style="font-size:16px;line-height:22px;margin-top:20px;">Профессиональные консультации</div>
            <span class="_customer_adv__item-txt" style="font-size:12px;line-height:17px;margin-top:10px;">Отвечаем на ваши вопросы, рассказываем о назначении, характеристиках и химсоставе продукции.</span></div>
    </div>

    <div class="_customer_adv__item" style="width:196px;min-height:263px;border-width:2px;border-style:solid;border-color:#FF7B03;box-sizing:border-box;border-radius:4px;margin-top:0;margin-bottom:20px;margin-right:8px;margin-left:8px;padding-top:20px;padding-bottom:20px;padding-right:15px;padding-left:20px;"><img height="42" src="/system/ckeditor_assets/pictures/129016/content_img-4.png" width="54" />
        <div class="_customer_adv__item-block" style="display:grid;align-content:center;">
            <div class="_customer_adv__item-title" style="font-size:16px;line-height:22px;margin-top:20px;">Доставка с завода- производителя</div>
            <span class="_customer_adv__item-txt" style="font-size:12px;line-height:17px;margin-top:10px;">Осуществляем прямые вагонные поставки с заводов на ваш адрес. Отправляем грузы в любую точку России транспортной компанией по предпочтению заказчика.</span></div>
    </div>

    <div class="_customer_adv__item" style="width:196px;min-height:263px;border-width:2px;border-style:solid;border-color:#FF7B03;box-sizing:border-box;border-radius:4px;margin-top:0;margin-bottom:20px;margin-right:8px;margin-left:8px;padding-top:20px;padding-bottom:20px;padding-right:15px;padding-left:20px;"><img height="48" src="/system/ckeditor_assets/pictures/129017/content_img-5.png" width="54" />
        <div class="_customer_adv__item-block" style="display:grid;align-content:center;">
            <div class="_customer_adv__item-title" style="font-size:16px;line-height:22px;margin-top:20px;">Индивидуальный подход</div>
            <span class="_customer_adv__item-txt" style="font-size:12px;line-height:17px;margin-top:10px;">Работаем со всеми покупателями, обрабатываем розничные и оптовые заказы, принимаем наличный и безналичный расчет.</span></div>
    </div>

    <div class="_customer_adv__item" style="width:196px;min-height:263px;border-width:2px;border-style:solid;border-color:#FF7B03;box-sizing:border-box;border-radius:4px;margin-top:0;margin-bottom:20px;margin-right:8px;margin-left:8px;padding-top:20px;padding-bottom:20px;padding-right:15px;padding-left:20px;"><img height="48" src="/system/ckeditor_assets/pictures/129018/content_img-6.png" width="54" />
        <div class="_customer_adv__item-block" style="display:grid;align-content:center;">
            <div class="_customer_adv__item-title" style="font-size:16px;line-height:22px;margin-top:20px;">Скидки</div>
            <span class="_customer_adv__item-txt" style="font-size:12px;line-height:17px;margin-top:10px;">Снижаем цены на товары при покупке от 1 тонны. Предоставляем дополнительные скидки при заключении договора.</span></div>
    </div>
</div>
-->