<meta charset="UTF-8">
<style type="text/css">
/* block_card */
._customer_card__wrap {
    max-width: 886px;
    box-sizing: border-box;
    font: 16px/22px Arial, sans-serif;
    color: #333333;
}
._customer_card__title {
    max-width: 628px;
    line-height: 21px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF7B03;
    margin-bottom: 21px;
}
._customer_card__list {
    display: flex!important;
    justify-content: space-between;
    margin-bottom: 24px;
}
._customer_card__item {
    width: 200px;
    min-height: 150px;
    margin-bottom: 20px;
    margin-right: 10px;
}
._customer_card__item:last-child {
    margin-right: 0;
}
._customer_card__txt {
    padding-top: 70px;
}
._customer_card__txt-bg-1 {
    background: url("img/block_card/img-1.png") no-repeat;
}
._customer_card__txt-bg-2 {
    background: url("img/block_card/img-2.png") no-repeat;
}
._customer_card__txt-bg-3 {
    background: url("img/block_card/img-3.png") no-repeat;
}
._customer_card__txt-bg-4 {
    background: url("img/block_card/img-4.png") no-repeat;
    background-position: 0 10px;
}
._customer__card__bonus {
    line-height: 32px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF7B03;
    border: 2px solid #FF7B03;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 20px;
    padding: 22px 30px;
}
@media (max-width: 1000px) {
    ._customer_card__list {
        display: flex;
        flex-wrap: wrap;
    }
    ._customer_card__item {
        width: 100%;
        min-height: 60px;
        margin-right: 0;
    }
}
</style>
<!-- block_card -->
<div class="_customer_card__wrap">
    <div class="_customer_card__title">
        Комплексные поставки сырья для производства сухих строительных смесей
    </div>
    <div class="_customer_card__list">
        <div class="_customer_card__item">
            <div class="_customer_card__txt _customer_card__txt-bg-1">
                <span>Профессиональные консультации по назначению и химсоставу продукции</span>
            </div>
        </div>
        <div class="_customer_card__item">
            <div class="_customer_card__txt _customer_card__txt-bg-2">
                <span>Прямые вагонные поставки с заводов-производителей на ваш адрес</span>
            </div>
        </div>
        <div class="_customer_card__item">
            <div class="_customer_card__txt _customer_card__txt-bg-3">
                <span>Возможно изменение химсостава продукции под ваши требования</span>
            </div>
        </div>
        <div class="_customer_card__item">
            <div class="_customer_card__txt _customer_card__txt-bg-4">
                <span>Скидки на объем от 1 тонны</span>
            </div>
        </div>
    </div>
    <div class="_customer__card__bonus">
        Предоставляем дополнительные скидки при заключении договора!
    </div>
</div>
