<meta charset="UTF-8">
<style type="text/css">
/* block_category */
._customer_cat__wrap {
    max-width: 627px;
    box-sizing: border-box;
    font: 16px/22px Arial, sans-serif;
    color: #333333;
}
._customer_cat__title {
    line-height: normal;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF7B03;
    margin-bottom: 20px;
}
._customer_cat__list {
    display: flex!important;
    flex-wrap: wrap;
    justify-content: space-between;
}
._customer_cat__item {
    min-height: 60px;
    width: 47%;
    display: flex;
    margin-bottom: 20px;
}
._customer_cat__item:nth-child(even) {
    margin-left: 20px;
}
._customer_cat__txt {
    display: grid;
    align-items: center;
    padding-left: 82px;
}
._customer_cat__txt-bg-1 {
    background: url("img/block_category/img-1.png") no-repeat;
}
._customer_cat__txt-bg-2 {
    background: url("img/block_category/img-2.png") no-repeat;
}
._customer_cat__txt-bg-3 {
    background: url("img/block_category/img-3.png") no-repeat;
}
._customer_cat__txt-bg-4 {
    background: url("img/block_category/img-4.png") no-repeat;
    background-position: 0 10px;
}
._customer_cat__contacts {
    border: 2px solid #FF7B03;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 30px 32px;
}
._customer__cat__bonus {
    width: 57%;
    line-height: 32px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF7B03;
}
._customer_cat__contact {
    width: 38%;
    line-height: normal;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #918E8E;
}
._customer_cat__phone {
    display: block!important;
    line-height: normal;
    font-size: 18px;
    margin-top: 12px;
    background: url("img/block_category/phone.png") no-repeat;
    background-position: 8px 3px;
    margin-bottom: 8px;
}
._customer_cat__phone a {
    color: #333333!important;
    text-decoration: none;
}
._customer_cat__phone a:hover {
    text-decoration: underline;
}
._customer_cat__button {
    width: 199px;
    height: 36px;
    font-size: 16px!important;
    line-height: 36px!important;
    color: #ffffff;
    background: #FF7B03;
    border-radius: 18px!important;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin: 0!important;
}
@media (max-width: 1180px) {
    ._customer_cat__list {
        display: block;
    }
    ._customer_cat__item {
        width: 100%;
    }
    ._customer_cat__item:nth-child(even) {
        margin-left: 0;
    }
    ._customer__cat__bonus {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    ._customer_cat__contact {
        width: 100%;
        margin-top: 20px;
    }
    ._customer_cat__phone {
        width: 215px;
        margin: 12px auto;
    }
}
</style>
<!-- block_category -->
<div class="_customer_cat__wrap">
    <div class="_customer_cat__title">
        Комплексные поставки сырья для производства сухих строительных смесей
    </div>
    <div class="_customer_cat__list">
        <div class="_customer_cat__item">
            <div class="_customer_cat__txt _customer_cat__txt-bg-1">
                <span>Профессиональные консультации по назначению и химсоставу продукции</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__txt _customer_cat__txt-bg-2">
                <span>Прямые вагонные поставки с заводов-производителей на ваш адрес</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__txt _customer_cat__txt-bg-3">
                <span>Возможно изменение химсостава продукции под ваши требования</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__txt _customer_cat__txt-bg-4">
                <span>Скидки на объем от 1 тонны</span>
            </div>
        </div>
    </div>
    <div class="_customer_cat__contacts">
        <div class="_customer__cat__bonus">
            Предоставляем дополнительные скидки при заключении договора!
        </div>
        <div class="_customer_cat__contact">
            <div>Узнайте подробнее</div>
            <div class="_customer_cat__phone">
                <a href="tel:+73832144115" onclick="yaCounter47344128.reachGoal('megasite_comblock_tel'); return true;">
                    +7 (383) 214-41-15
                </a>
            </div>
            <div class="_customer_cat__button apress-button ab-order js-apress-order-button js-orders-callback-link"
                 data-button-type="order_callback" data-company-id="98150577" data-company-name="Дионикс"
                 data-company-name-rest="ООО" data-company-url="http://www.xn--54-jlcqamth4a.xn--p1ai/"
                 data-params="{&quot;company_id&quot;:&quot;98150577&quot;}" data-statistics="1" data-type="callback"
                 onclick="yaCounter47344128.reachGoal('megasite_comblock_order'); return true;">ЗАКАЗАТЬ ЗВОНОК
            </div>
        </div>
    </div>
</div>
